.laravel-support li:before,
.linux-hosting li:before,
.main-header li:before {
  display: inline-block;
  margin-right: 10px;
  content: " ";
  background-image: url(/images/Check_green_icon.svg?16a409a771b8eae6678b407bc97f9df4);
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
}

body {
  color: #555555;
}

.navbar-brand img {
  height: 15vh;
  margin: -10% 0;
}

.nav {
  border: 1px solid gray;
}

.nav container {
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav .nav-link {
  font-size: 17px;
}

.login-bar {
  text-align: right;
}

.login-bar img {
  display: inline-block;
  width: 12px;
  margin-right: 5px;
}

.login-bar p {
  display: inline-block;
}

h5 {
  font-family: "Montserrat-Light", sans-serif;
}

h1 {
  font-family: "Montserrat-Bold", sans-serif;
}

h2 {
  font-family: "Montserrat-Light", sans-serif;
}

.main-header {
  margin-top: 5vh;
}

.main-header ul {
  padding-left: 0;
  list-style-type: none;
}

.main-header li {
  font-family: "Montserrat-Light", sans-serif;
  padding-left: 20px;
  margin-bottom: 5px;
  font-size: 16px;
}

.limit-section tr:nth-child(even) {
  background: #F0F0F0;
}

.limit-section table {
  border: 1px solid #EAEAEA !important;
}

.line {
  width: 6vw;
  height: 2vh;
  border-bottom: 5px solid #E0E0E0;
  margin-right: auto;
  margin-left: auto;
}

.host-features img {
  width: 30%;
}

.host-features p {
  font-size: 13px;
}

.host-features h4 {
  font-family: "Montserrat-Bold", sans-serif;
}

.laravel-support,
.linux-hosting {
  border-bottom: 1px solid gray;
}

.laravel-support h5,
.linux-hosting h5 {
  font-family: "Montserrat-Light", sans-serif;
  line-height: 2em;
}

.laravel-support ul,
.linux-hosting ul {
  padding-left: 0;
  list-style-type: none;
}

.laravel-support li,
.linux-hosting li {
  font-size: 16px;
  line-height: 2em;
}

.laravel-support .btn-primary,
.linux-hosting .btn-primary {
  margin-top: 3vh;
  background-color: #0090ef;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 17px;
  border-radius: 1.5rem;
  border: none;
  padding: 9px 18px;
}

.laravel-support .btn-primary:hover,
.linux-hosting .btn-primary:hover {
  background-color: #0050ef;
}

.php-modules p {
  white-space: pre-line;
}

.php-modules .btn-primary {
  font-family: "Montserrat-Bold", sans-serif;
  background: white;
  color: #444444;
  padding: 8px 22px;
  border: 2px solid #555555;
  font-size: 18px;
  border-radius: 1.5rem;
}

.php-modules .btn-primary:hover {
  background: #555555;
  color: white;
}

.linux-hosting {
  margin-top: 12vh !important;
  border-bottom: none;
}

.share {
  width: 100%;
  background: #f7f7f7;
  padding-top: 20px;
  font-family: "Montserrat-Regular", sans-serif;
}

.share-bar {
  text-align: right;
}

.share-bar p {
  margin-left: 5px;
  color: #999999;
  border: 1px solid #999999;
  border-radius: 10%;
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
}

.help-support {
  background: #00a2f3;
  color: white;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.help-support .col-md-8 {
  border-right: 1px solid white;
}

.help-support .container {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.help-support .btn-primary {
  background: none;
  border-radius: 1.2rem;
  border: 2px solid white;
  font-size: 20px;
  width: 60%;
  padding: 7px 10px !important;
}

.help-support .btn-primary img {
  margin-right: 10px;
  width: 15%;
  fill: white !important;
}

.footer {
  background: #303030;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.footer h6 {
  color: #666666;
}

.footer p {
  white-space: pre-line;
  color: #8e8e8e;
}

.footer form {
  width: 100%;
}

.footer form input {
  width: 70%;
  border-radius: 2px;
  margin-bottom: 5px;
}

.footer .btn-primary {
  width: 70%;
  border-radius: 2px;
}

.footer .sub-footer p {
  font-size: 0.85em;
}

@media (max-width: 768px) {
  .php-modules p {
    text-align: center;
  }
}

.hosting-packages {
  font-family: "Montserrat-Light", sans-serif;
}

.hosting-packages .col-md-3 {
  padding: 0;
}

.hosting-packages p {
  font-family: "Roboto-Regular", sans-serif;
  white-space: pre-line;
}

.hosting-packages h5 {
  text-decoration: line-through;
}

.hosting-packages h4 {
  font-family: "Montserrat-Bold", sans-serif;
}

.hosting-packages .btn-primary {
  font-family: "Montserrat-Bold", sans-serif;
  width: 70%;
  background: white;
  color: #444444;
  padding: 8px 22px;
  border: 2px solid #555555;
  border-radius: 1.5rem;
  margin: 10px auto;
}

.hosting-packages .btn-primary:hover {
  background: #555555;
  color: white;
}

.hosting-packages .card-header {
  background: white;
}

.best {
  color: white;
  border: 1px solid #008fee;
}

.best p {
  color: #555555;
}

.best .card-header {
  background-color: #008fee;
}

.best .banner {
  background-color: #00b359;
}

.best .user {
  background-color: #007fde;
}

.best .btn-primary {
  color: white;
  background-color: #0090ef;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 17px;
  border-radius: 1.5rem;
  border: none;
  padding: 9px 18px;
}

.best .btn-primary:hover {
  background-color: #0050ef;
}

